<h1>Decode a Message</h1>
<form action="show" method="post" accept-charset="utf-8">
  <label for="shift">Letter to Offset</label>
  <input type="text" name="shift" id="shift">
  <label for="message">Your Message</label>
  <input type="text" name="message" id="message">
  <input type="submit" value="Decode!">
</form>
